
@import 'src/sass/colors'

.complexity-container
  background: url(../../../../../assets/images/guys.png) no-repeat center $green
  background-size: cover
  height: 900px
  left: 0px
  top: 0px
  align-items: center
  justify-content: center
  display: flex

.conplexity-content
  display: flex
  align-items: center

.complexity-content-title
  position: absolute
  width: 459px
  height: 50px
  left: 290px
  top: 3089px
  font-style: normal
  font-weight: bold
  font-size: 42px
  line-height: 49px
  color: $white

.complexity-content-discription
  position: absolute
  width: 459px
  height: 50px
  left: 290px
  top: 3175px
  font-style: normal
  font-weight: 500
  font-size: 23px
  line-height: 27px
  display: flex
  align-items: center
  color: $white