<div class="account-details p-5">
  <div class="gama-digital p-5">
      <h3 class="gama-digital-title ml-5">Conta digital do Gama Academy</h3>
      <img src="assets/images/app-bg-1.png" class="gama-digital-bg ml-5">
      <p class="gama-digital-discription ml-5 ">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas.</p>
  </div>
  <div class="credit-card p-5">
      <h3 class="credit-card-title ml-5">Cartão de crédito</h3>
      <img src="assets/images/app-bg-2.png " class="ml-5 credit-card-bg">
      <p class="credit-card-discription ml-5 ">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas.</p>
  </div>
</div>
