@import 'src/sass/colors'
@import 'src/sass/form'

.create-account 
  //position: absolute
  // width: 349px
  //height: 461.23px
  //left: 1195px
  //top: 246px
  //padding: 32px
  text-align: left
  background-color: $white-light
  border-radius: 8px

.form-group-input
  display: flex
  flex-direction: column
  
.form-title
  //width: 276.74px
  //height: 64.57px
  // left: 992.9px
  // top: 270.6px
  font-style: normal
  font-weight: 500
  font-size: 19px
  line-height: 22px
  display: flex
  flex-direction: column
  align-items: left
  color: $black-dark

.ml-2
  margin-left: 0.8rem !important

.form-group-input
  margin: 1rem

.form-btn
  width: 276.74px
  height: 47.66px
  //left: 992.9px
  //top: 619.6px
  padding: 0px 15px 0px 15px
  background: $gray
  border-radius: 20px
  border: none

.form-btn, text
  color: $gray-dark
  font-style: normal
  font-weight: 500
  font-size: 15px
  line-height: 20px
  display: flex
  align-items: center