<form class="create-account p-3">
  <div class="form-title ml-2">
    <h4>Peça sua conta e cartão de crédito do Gama Bank</h4>
  </div>
  <div class="form-group-input">
    <label for="cpf">Digite seu CPF</label>
    <input type="text">
    <span class="bar"></span>
  </div>
  <div class="form-group-input">
    <label for="user">Escolha um nome de usuário</label>
    <input type="text">
  </div>
  <div class="form-group-input">
    <label for="name">Nome completo</label>
    <input type="text">
  </div>
  <div class="form-group-input">
    <label for="password">Digite sua senha</label>
    <input type="text">
  </div>
  <div class="form-group-input">
    <label for="confirmPassword">Confirme sua senha</label>
    <input type="text">
  </div>

  <button type="submit" class="form-btn ml-2">Continuar</button>
</form>
