
@import 'src/sass/colors'

.annuity-container
  background: $purple
  height: 900px
  left: 0px
  top: 0px


.annuity-content
  display: flex
  align-items: center
  justify-content: space-between

.annuity-title-text
  position: absolute
  width: 459px
  height: 50px
  left: 290px
  top: 2188px
  font-style: normal
  font-weight: bold
  font-size: 42px
  line-height: 49px
  display: flex
  align-items: center
  color: $white

.annuity-discription-text
  position: absolute
  width: 459px
  height: 50px
  left: 290px
  top: 2274px
  font-style: normal
  font-weight: 500
  font-size: 23px
  line-height: 27px
  display: flex
  align-items: center
  color: $white

.annuity-price-text
  position: absolute
  width: 373px
  height: 200px
  left: 1248px
  top: 2152px
  font-style: normal
  font-weight: 500
  font-size: 186px
  line-height: 218px
  display: flex
  align-items: center
  color: #68DE5A

