<div class="dashboard-container">
  <app-sidebar></app-sidebar>
  <div class="cards-wrapper">

    <div class="welcome-user">
      <p class="welcome-user-text">Olá {{ nameUser }}, seja bem vindo! </p>

      <div class="feature-buttons">
        <div class="btn-hidden" id="eye-hidden">
          <img src="assets/icons/eye-hidden.svg">
        </div>
        <div class="btn-reload">
          <img src="assets/icons/refresh.svg">
        </div>
        <div class="btn-sign-out">
          <img src="assets/icons/exit.svg">
        </div>
      </div>
    </div>

    <div class="cads-accounts">
      <app-account></app-account>
      <app-credit-account></app-credit-account>
    </div>

    <div class="card-latest-statements">
      <app-latest-statements></app-latest-statements>
    </div>
  </div>
</div>
