<div class="home-container">
  <div class="home-content">
    <div class="home-content-text">
      <p class="home-content-title">Gama Bank é um projeto de nossos alunos.</p>
      <p class="home-content-discription">Já tem conta?</p>
      <div class="home-btn-access">
        <button class="btn-access">Acessar</button>
      </div>
    </div>
    <div class="home-banner-container">
      <img src="assets/images/happy.png" class="home-banner">
    </div>
    <section>
      <app-create-account-form></app-create-account-form>
    </section>
  </div>
</div>
