
@import 'src/sass/colors'

.home-container 
  background-color: $purple
  height: 900px
  left: 0px
  top: 0px
  align-items: center
  justify-content: center
  display: flex


.home-content 
  // border: 1px solid
  width: 1440px
  height: 800px
  margin-top: 96px
  display: flex


.home-content-text
  position: absolute
  width: 281px
  height: 173px
  left: 350px
  top: 350px
  font-style: normal
  font-weight: normal
  font-size: 29px
  line-height: 34px
  flex-direction: column
  align-items: center
  color: #FFFFFF

.home-content-text, .home-content-title
  margin-bottom: 20px


.home-btn-access
  margin-top: 25px
  
.btn-access
  background: #FFFFFF
  position: absolute
  width: 261px
  height: 42px
  border-radius: 20px
  border: none
  cursor: pointer
  padding: 0px 15px 0px 15px

.btn-access, text 
  color: #8C52E5
  font-style: normal
  font-weight: 500
  font-size: 17px
  line-height: 20px
  display: flex
  align-items: center


.home-banner-container
  margin-top: 155px
  margin-left: 300px

.home-banner
  width: 773px
  height: 646px
  z-index: 1

